* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #0e1538;
  gap: 200px;
}
.box {
  position: relative;
  background-color: #0e1538;
}
.box:before {
  content: '';
  position: absolute;
  box-shadow: 0 0 0 20px #070c23;
}
