* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #0e1538;
  gap: 200px;
}
.box {
  position: relative;
  background-color: #0e1538;
  background-color: #000;
}
