// main: ../style.less

.box {
  position: relative;
  background-color: @background;
  background-color: #000;
}

// .box:before{
//   content: '';
//   position: absolute;
//   inset: -3px;
//   box-shadow: 0 0 0 20px #070c23;
// }